@mixin header-button($width) {
  height: 44px;
  width: $width;
  background-color: #ffffff;
  color: #272343;
  border-radius: 8px;
  transition: all .3s ease-in-out;

  &:hover {
    background: #007580;
    color: white;
  }
}