// primary colors
$primaryBackgroundColor: white;
$primaryTextColor: black;

// background colors
$subHeaderBG: #272343;
$mainHeaderBG: #F0F2F3;
$shopNowBtnBG: #029FAE;

// text colors
$navbarMenuMainTextColor: #636270;
$navbarMenuAccentTextColor: #007580;
$bannerProductPriceTextColor: #F05C52;

// border colors
$navbarBorderColor: #E1E3E5;
$navbarButtonBorderColor: #E1E3E6;