@import '../utils/mixins';

#header-section {
  header {

    // start .sub-header
    .sub-header {
      background-color: $subHeaderBG;
      height: 45px;

      &__header-title-left {
        padding: 14.5px 0;

        svg {
          height: 16px;
        }

        p {
          color: #fff;
          font-size: 13px;
          font-weight: 400;
          line-height: 14.3px;
          margin-left: 8px;
          top: 1px;
          padding-top: 1px;
          margin-top: -4px;
        }
      }

      // end .header-title-left

      &__header-content-right {
        padding: 14px 0;

        ul {
          font-size: 13px;
          height: 15px;

          li {
            list-style: none;
            padding: 0 12px;

            select {
              background-color: #272343;
              color: white;
              border: 1px solid #272343;

              &:focus-visible {
                outline: 1px solid #272343;
              }
            }

            // end select

            a {
              text-decoration: none;
              color: white;
            }

            &:last-child {
              padding-right: 0;
            }
          }

          // end li
        }

        // end ul
      }

      // end .header-title-right
    }

    // start .main-header
    .main-header {
      background-color: $mainHeaderBG;
      // padding: 20px;

      &__logo-wrapper {
        padding: 22px 0;
      }

      &__search-wrapper {
        padding: 20px 0;
        width: 413px;

        .search-form {

          .search-box {
            position: relative;

            .search-box-input {
              background: white;
              padding: 12px 0 13px 16px;
              caret-color: gray;
              border-radius: 5px;

              &:focus-visible {
                outline: 0;
              }
            }

            svg {
              position: absolute;
              top: 14px;
              right: 16px;
            }
          }
        }
      }

      // end .search-wrapper

      &__cart-wrapper {
        .cart-button-wrapper {

          .cart-button {
            @include header-button(120px);
            font-weight: bold;
            font-size: 12px;
            line-height: 13.2px;
            padding: 11px 16px;

            .cart-icon {
              margin-right: 8px;
            }

            .cart-item-counter {
              margin-left: 12px;
              color: white;
              background-color: #007580;
              height: 20px;
              width: 20px;
              line-height: 20px;
              border-radius: 50px;
              padding-left: 6px;
              transition: all .3s ease-in-out;
            }

            &:hover .cart-item-counter {
              background-color: white;
              color: #007580;
            }
          }
        }

        // end .cart-button-wrapper

        .like-button-wrapper {

          .like-button {
            @include header-button(44px);
            margin-left: 12px;
            padding: 11px;

            svg {
              margin-top: -3px;
            }
          }
        }

        .user-button-wrapper {

          .user-button {
            @include header-button(44px);
            margin-left: 12px;
            padding: 11px;


            svg {
              margin-top: -3px;
            }
          }
        }
      }
    }

    // start .navbar
    .navbar-content {
      background: $primaryBackgroundColor;
      border-bottom: 1px solid $navbarBorderColor;
      padding: 14px 0;

      // start navbar-content-menu
      &-menu {
        display: flex;
        align-items: center;

        .all-category-btn {
          height: 47px;
          border: 1px solid $navbarButtonBorderColor;
          border-radius: 6px;
          align-items: center;
          // padding: 0 24px;
          display: flex;
          width: 176px;
          font-weight: 500;
          font-size: 14px;
          line-height: 15.4px;
          padding: 0 23px;
          color: #272343;

          svg {
            margin-right: 16px;
          }
        }

        &-ul {
          display: flex;
          align-items: center;
          list-style: none;
          border: none;
          padding-top: 16px;

          &-li {
            text-decoration: none;
            padding: 0 16px;

            &:first-child {
              padding-left: 0;
            }

            &:last-child {
              padding-right: 0;
            }

            &-a {
              font-size: 14px;
              font-weight: 500;
              color: $navbarMenuMainTextColor;
              transition: all .3s ease-in-out;

              &:hover {
                color: $navbarMenuAccentTextColor;
              }
            }
          }
        }
      }

      // start navbar-content-contact
      &-contact {
        p {
          font-size: 14px;
          color: $navbarMenuMainTextColor;

          .contact-number {
            color: $subHeaderBG;
            font-weight: 500;
            margin-left: 8px;
          }
        }
      }
    }
  }
}